.filters{
	height: 70px;
	width: 100% ;
	border: #DDDDDD 1px solid;
	border-radius: 4px;
	color: white;
	position: absolute;

}
button{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	top: 10px;
	right: 20px;
	border-radius: 4px;
	position: absolute;
}
button:hover{
	opacity: 90%;
}